@import './scss/variables';

.resume {
  display: flex;
  min-height: calc(100vh - var(--margin-base) * 2);
  width: 930px;
  margin: var(--margin-base) auto;
  border: 1px solid #000;
}

.left {
  width: 30%;
  padding: var(--padding-base);
  font-size: 14px;
  color: #fff;
  background: var(--catalina-blue);
}

.right {
  flex: 1 0 auto;
  padding: var(--padding-base);
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    display: block;
    height: 185px;
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
  }
}
